RunJamesGouin/Library/metadata/
RunJamesGouin/Library/ShaderCache/
RunJamesGouin/Temp/
RunJamesGouin.sln
RunJamesGouin/Library/ScriptAssemblies/Assembly-CSharp.dll
RunJamesGouin/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
RunJamesGouin/Library/ScriptAssemblies/BuiltinAssemblies.stamp
Assembly-CSharp.csproj.FilesWrittenAbsolute.txt
RunJamesGouin/obj/Debug/Assembly-CSharp.dll
RunJamesGouin/obj/Debug/Assembly-CSharp.dll.mdb
CrashedAssetImports.txt
InspectorExpandedItems.asset
RunJamesGouin/Library/shadercompiler-UnityShaderCompiler1.log
RunJamesGouin/Library/shadercompiler-UnityShaderCompiler2.log
RunJamesGouin/Library/shadercompiler-UnityShaderCompiler3.log
shadercompiler-UnityShaderCompiler0.log
Assembly-CSharp.csproj
BUILD
RunJamesGouin/Library/ScriptAssemblies/old/Assembly-CSharp.dll
RunJamesGouin/Library/ScriptAssemblies/old/Assembly-CSharp.dll.mdb
assetDatabase3
AssetServerCacheV3
ProjectSettings.asset
RunJamesGouin.userprefs
RunJamesGouin/Assets/Scenes.meta
RunJamesGouin/Assets/Sounds.meta
RunJamesGouin/Library/LastSceneManagerSetup.txt
